<div class="container">
  <div class="row">
    <div class="col-9">
      <div class="mx-auto" style="width: 400px;padding-bottom: 10px;">
        <h3 style="display: inline;">products in store</h3> 
        <button style="float:right;margin-top:3px;" (click)="createProduct()" type="button" class="btn btn-default">
          create product
        </button>
      </div>
      <table class="table">
        <thead>
          <tr>
            <th scope="col">ID</th>
            <th scope="col">Name</th>
            <th scope="col">Description</th>
            <th scope="col">Price</th>
            <th scope="col">Actions</th>
          </tr>
        </thead>
        <tbody>

          <tr *ngFor="let product of products" (click)='editProduct(product)'>
            <th>{{product.ID}}</th>
            <td>{{product.Name}}</td>
            <td>{{product.Description}}</td>
            <td>{{product.Price}}</td>
            <td>
              <button   (click)="deleteItem(product.ID)" type="button" class="btn btn-default">
                delete
              </button>
              <!-- <button type="button" class="btn btn-default">
                edit
              </button> -->
            </td>
          </tr>

        </tbody>
      </table>
    </div>
    <div class="col-3" style="padding-top:10px; ">
      <app-product-details (closeDetailsPane)='closePane()' [hidden]="!showDetailsPane" [panMode]='paneMode' [product]='selectedProduct'></app-product-details>
    </div>
  </div>
</div>