<div class="card" style="width: 18rem;">
  <div class="card-body">
    <h5 class="card-title">{{panMode}} Product</h5>
    <label for="name">Name</label>
    <input type="text" class="form-control" id="name" [(ngModel)]='product.Name'>
    <label for="name">Description</label>
    <textarea class="form-control" id='description' [(ngModel)]='product.Description'></textarea>
    <label for="price">Price</label>
    <div class="input-group">
      <div class="input-group-prepend">
        <span class="input-group-text">$</span>
      </div>
      <input type="number" class="form-control" id="price" [(ngModel)]="product.Price">
    </div>
    <div class="actions">
      <a (click)="save();" class="btn btn-primary">Save</a>
      <a (click)='clearData()' class="btn">Cancel</a>
    </div>
  </div>
</div>